<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<package name="com.rimi.userbean" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="user" value="root" />
				<property name="passowrd" value="1234" />
				<property name="url" value="jdbc:mysql://localhost:3306/test2" />
				<property name="driver" value="com.mysql.jdbc.Driver" />
			</dataSource>
		</environment>

	</environments>
	<mappers>
		<mapper resource="com/rimi/userbean/UserDaoMapper.xml" />
	</mappers>
</configuration>
